.popup {
  width: 100%;
  background-color: white;
  position: absolute;
  top: 49px;
  -webkit-box-shadow: 12px 23px 40px -6px rgba(34, 60, 80, 0.17);
  -moz-box-shadow: 12px 23px 40px -6px rgba(34, 60, 80, 0.17);
  box-shadow: 12px 23px 40px -6px rgba(34, 60, 80, 0.17);
}
.btns {
  width: 100%;
  display: flex;
  button {
    flex: 1 1 auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.panel {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
