.navbarGlobal {
  height: 40px;
  background-color: #28344e;
  width: 100%;
  font-size: 12px;
  color: #c5cbd0;
  user-select: none;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 0px;
  justify-content: space-between;
}
.logo {
  height: 100%;
  background-color: #c9760e;
  display: flex;
  align-items: center;
  padding: 0px 16px;
}
.navItems {
  height: 100%;
  display: flex;
  gap: 15px;
}
.mainText {
  display: flex;
  height: 100%;
}
.stats {
  display: flex;
  align-items: center;
  gap: 20px;
}
